body {
	background: url("../images/sandpaper.png") 0 0 repeat #eee;
	margin: 0 auto;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	padding: 0;
}
#wrapper {
	width: 960px;
	margin: 0 auto;
}
header {
	background: #ebebeb;
	width: 100%;	
	margin: 0;
	padding: 0;
	min-height: auto;
	display: inline-block;
	background: url("../images/footer_lodyas.png") 0 0 repeat #777;
}
footer {
	text-align: center;
	float: left;
	color: #ccc;
	background: #ebebeb;
	width: 100%;	
	margin: 40px 0 0 0;
	padding: 30px 0;
	min-height: auto;
	display: inline-block;
	background: url("../images/footer_lodyas.png") 0 0 repeat #777;
	border-top: 4px solid #FF3B71;
	 position: fixed;
    bottom: 0;
    right: 0;
}
.logo {
	font-family: 'Bungee Inline', cursive;
	font-size: 2em;
	color: #fff;
	width: 300px;
	background: #FF3B71;
	padding: 20px;
	float: left;
}
.nav {
	width: 60%;
	float: right;
	margin: 25px 0;
}
.nav ul {
	color: #FF3B71;
	float: right;
	padding: 0;
	margin: 0;	
}
.nav ul li {
	padding: 0;
	margin: 0;	
}
.nav ul li a {
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
}
.nav ul li:last {
	padding: 5px 0 5px 20px;
}
.nav ul li a:hover {
	background: #6ACC07;
}
h2 {
	font-size: 24px;
	font-weight: bold;
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding: 0 0 10px 0;
	margin: 0 0 20px 0;		
}
h3 {
	font-size: 18px;
	font-weight: bold;
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding: 0 0 10px 0;
	margin: 0 0 20px 0;		
}
#main {
	width: 610px;
	float: left;
	background: #ebebeb;
	height: auto;
	display: inline-block;
	padding: 20px;
	margin: 30px 40px 0 0;
}
#main img {
	width: 250px;
	height: auto;
	display: inline-block;
	float: left;
	margin: 0 20px 20px 0;	
}
#sidebar {
	width: 230px;
	float: left;
	background: #ebebeb;
	height: auto;
	display: block;
	padding: 20px;	
	margin: 30px 0 0 0;	
}
.bold {
	font-weight: bold;
}
p {
	font-size: 14px;
	line-height: 120%;
	padding: 0 0 10px 0;
}
.grey {color: #777;}
.white {color: #fff;}
.row {
	width: 100%;
	display: inline-block;
	margin: 10px 0;
}
#left, #right {
	padding: 15px 10px 10px 10px;
}
#left {
	width:475px;
	float: left;
	margin: 0 10px 0 0;
}
#right {
	width:435px;
	float: left;
		height: 269px;
}
.article {
	background: #777;
	padding: 10px;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;

}
li {
	padding: 0;
	display: inline;
	width: 100%;
	margin: 0 4px 0 0;

}
.sm-icon {
	width: 69px;
	height: auto;

}
input {
	width: 95%;
	height: 25px;
}
textarea {
	width: 95%;
	height: 45px;	
}
.submit {
	border: none;
	width: 100px;
	background: #FF3B71;
	font-size: 14px;
	color: #fff;
}